<a href="https://colab.research.google.com/github/leandrorodor/PGR-IESB-P9041-CDNA-20203/blob/master/lista_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lista 01 - Python


---

#### 1 - Execute todas as operações aritiméticas básicas (adição, subtração, divisão e multiplicação) com as variáveis 'a' e 'b' abaixo.

In [ ]:
a = 15
b = 12

soma=(a + b) # Adição
print(soma)

sub=(a - b) # Subtração
print(sub)

mult=(a * b) # Multiplicação
print(mult)

div=(a / b) # Divisão
print(div)

inteiro=(a // b) # Parte inteiro
print(inteiro)

modulo=(a % b) # Módulo
print(resto)

exp=(a ** b) # Exponenciação
print(exp)

#### 2 - Tente calcular o seu IMC utilizando somente operações matemáticas. Dica: o IMC é calculado da seguinte forma: IMC = peso / (altura em metros * altura em metros)c

In [ ]:
def imc(peso,altura):
    print("Seu IMC é:",peso/altura ** altura)  

imc(110,1.85)

Seu IMC é: 35.24722960752854

#### 3 - Sua professora de português pediu para você escrever a frase 'português é maravilhoso' 50 vezes. Como resolver esse problema com python? Demonstre sua solução.

In [ ]:
for i in range(50):
    print("português é maravilhoso")

#### 4 - Um modelo de regressão linear possui a seguinte fórmula: y=0.253*x + 125. Qual será o valor de Y quando X for 125?

In [ ]:
def reg(x):
    return (0.253*x+125)
y = reg(125)
print(y)

#### 5 - Qual é raiz cubica de 144? Utilize somente operações python apresentadas neste notebook.c

In [ ]:
def r_cub(x):
    return (x**(1./3.))

x = r_cub(144)
print(x)

5.241482788417793

#### 6 - Nossa matéria terá dois trabalhos! Os pesos são, respectivamente, 4 e 6. Imagine que você tenha tirado 8.2 no primeiro projeto e 3.3 no segundo projeto. Levando em consideração sua nota final e os pesos, você tirou uma média maior que 5?

In [ ]:
p1 = 4
p2 = 6
def nota(n1,n2):
    media_ponderada = ((n1*p1)+(n2*p2)/p1+p2)/10

    if (media_ponderada <= 5):
        print("Sua média é insuficiente - ",media_ponderada)
    else:
        print("Você foi aprovado - ",media_ponderada)

nota(8.2,3.3)

Sua média é insuficiente -  4.375

#### 7 - Crie uma lista 'a_list' com os seguintes valores: 1, hello, [1,2,3] e True.

In [ ]:
a_list=[1,"hello",[1,2,3],True]

#### 8 - Ache o valor em 'a_list' que esteja no índice -1.

In [ ]:
a_list[-1]

#### 9 - Encontre os valores em 'a_list' que estejam nos indices 1,2 e 3.

In [ ]:
a_list[1:4]

#### 10 - Junte as seguinte listas a=[1,2,3,4,5] e b=[11,12,13,14,15]c

In [ ]:
a=[1,2,3,4,5]
b=[11,12,13,14,15]

c=a+b
print(c)

#### 11 - Crie uma lista de listas 'list_list' que tenha os valores de 'a_list', 'a' e 'b'c

In [ ]:
list_list=[a_list,a,b]

list_list

#### 12 - Qual o tamanho de 'list_list'?

In [ ]:
len(list_list)

#### 13 - Adicione o valor 125 ao final de 'list_list'

In [ ]:
list_list.append(125)

list_list

#### 14 - Remova a lista [1,2,3] de 'list_list' e guarde esse valor numa variável 'list_a'.

In [ ]:
list_a=list_list[0][2]

list_a

#### 15 - Qual é o primeiro valor do segundo valor de [[1,3,5,7],[2,4,6,8,10]]?

In [ ]:
valor=[[1,3,5,7],[2,4,6,8,10]]
valor[1][0]

#### 16 - Crie a tupla 'gnr' com os seguintes valores: rock, metal, sertanejo, pop, lo-fi e chillwave, nessa ordem.

In [ ]:
grn=("rock", "metal", "sertanejo", "pop","lo-fi","chillwave")c

#### 17 - Qual o terceiro valor da tupla 'gnr'

In [ ]:
grn[2]

#### 18 - Qual o índice de lofi?

In [ ]:
grn.index("lo-fi")

#### 19 - Crie uma tupla de tuplas com as seguintes tuplas (15,30), (20,40) e (25,50). Como acessar o valor 40?

In [ ]:
tupla=((15,30),(20,40),(25,50))

#### 20 - Acesse a tupla 'gnr' a cada dois valores, qual gêneros musicais aparecem?

In [ ]:
grn[:2] #Slice

#### 21 - Crie o dicionário 'mcu' com os seguintes dados, 'Homem de Ferro':2008, 'Homem de Ferro 2':2010, 'Homem de ferro 3':2013, 'Avengers: Endgame':2019.

In [ ]:
mcu={'Homem de Ferro':2008, 'Homem de Ferro 2':2010, 'Homem de ferro 3':2013, 'Avengers: Endgame':2019}c

##### a - No dicionário 'mcu' quais são os valores?

In [ ]:
mcu.values()

##### b - No dicińario 'mcu' quais são as chaves?

In [ ]:
mcu.keys()

##### c - Adicione ao dicionário 'mcu' os seguintes filmes: 'Avengers Infinity War':2018, 'Avengers Age of Ultron':2015.

In [ ]:
mcu.update({'Avengers Infinity War':2018, 'Avengers Age of Ultron':2015})

mcu

##### d - Delete o filme 'Homem de Ferro 3' do dicionário 'mcu'

In [ ]:
list(mcu.keys())

mcu.pop('Homem de ferro 3')

##### e - Limpe o dicionário 'mcu'

In [ ]:
mcu.clear()

#### 22 - Popule o dicionário vazio 'mcu' com as informações abaixo:c

In [ ]:
mcu={'homem de ferro':{'filmes':3,'ator principal':'Robert Downey Jr.'},'Cpt.América':{'filmes':3,'ator principal':'Chris Evans'}}

#### 23 - Acesse somente a quantidade de filmes de cada uma das chaves do dicionário MCU.

In [ ]:
mcu["homem de ferro"]["filmes"]

mcu["Cpt.América"]["filmes"]

#### 24 - Quais são as chaves do dicionário de dicionários 'mcu'?

In [ ]:
mcu.keys()

#### 25 - Qual o tamanho do dicionário de dicionários 'mcu'?

In [ ]:
len(mcu)

#### 26 - Escreva uma função python que receba uma lista e separe os múltiplos de 5. Ao final ela retorna a soma de todos os valores da lista de entrada que são múltiplos de 5.

In [1]:
def somaMultiplos(lista, valorMultiplo):
    soma = 0    
    for i in lista:
        if i % valorMultiplo == 0:
            soma  = soma + i
    return soma
x = (somaMultiplos(range(100),5))
print(x)

950

27 - Escreva uma função para verificar se uma palavra é um palíndromo e retorne 1 em casos positivos e zero em casos negativos.

In [3]:
def palindromo(palavra):
    ls = []                                    # Lista vazia para receber as letras da palavra informada
    count = 1                                  # contador para marcar as posições das letras
    for i in range(0,len(palavra)):            # Laço para percorrer toda a palavra
        ls.append(palavra[len(palavra)-count]) # inserindo na lista de tras para frente (tamanho - 1), por isso o contador inicia em 1 e não em 0
        count += 1                             # Incrementa o contador
    ls = ''.join(ls)                           # Convrte a lista em String
    if ls == palavra:                          # Compara se são iguais
       return 1
    else:
        return 0
a = palindromo('rodor')
print(a)

1

28 - Escreva uma função que receba uma lista crie um dicionário com a contagem dos valores dessa lista.

In [4]:
lista = ['123','456','789','101112','131415']
def criaDicionario(lista):
    dicionario = {}
    for i in range(len(lista)):       
        dicionario.update({lista[i-1]: len(lista[i-1])})
    return dicionario   
criaDicionario(lista)

{'101112': 6, '123': 3, '131415': 6, '456': 3, '789': 3}

29 - Escreva uma função que receba uma lista de listas, itere sobre cada lista, some seus valores, gere uma segunda lista e descubra o desvio padrão dela.

In [29]:
import statistics as sts

entrada = [[12,12,5,6,3,6,8,5,5,5],[3,3,3,3,4,4,15,89,20,20],[15,15,15,20,30,35,35,35,15,15],[10,10,10,10,15,15,15,15],[5,5,2,2],[8,8,89,89,898,1000]]

def desvioPadrao(entrada):
    soma = 0
    lista2 = []
    for i in range(len(entrada)):
        for j in range(len(entrada[i])):
            soma += entrada[i][j]
            lista2.append(entrada[i][j])
    print("Soma de todos os valores   = ",soma)
    print("Desvio padrão              = ", sts.stdev(lista2))
            
desvioPadrao(entrada)

Soma de todos os valores   =  2667
Desvio padrão              =  189.6914522967972

30 - Escreva uma função que gere uma sequencia de Fibonnaci. O único parâmetro é a quantidade de números que devem gerados. (Fibonnaci é uma sequencia onde o próximo número é a soma dos dois imediatamente anteriores a ele).

In [7]:
def sequenciaFibonaci(qtd):
    ultimo = 1
    penultimo = 1
    for i in range(2,qtd):
        valor = ultimo + penultimo
        penultimo = ultimo
        ultimo = valor
        i += 1
    return valor
print("Numeros gerados:",sequenciaFibonaci(int(input("Informe o parametro: "))))

Informe o parametro: 10
Numeros gerados: 55

#### 31 - Monte uma função que vai calcular e comparar os custos de uma viagem para 3 cidades diferentes e que, ao final, irá recomendar qual é o destino mais barato. Essa função deve receber somente uma parâmetro 'noites'. A partir desse argumento a função deve calcular o custo total de viagem para cada uma das cidades. Utilize os dados abaixo.

|   Cidade  | Hotel/noite | Alimentação/noite | Locomoção/noite |
|:---------:|:-----------:|:-----------------:|:---------------:|
| Abu Dhabi |     1300    |        200        |       150       |
|  Genebra  |     1200    |        150        |        80       |
|    Oslo   |     1000    |        250        |       100       |

In [8]:
cotacao={'Abu Dhabi':
                {'Hotel/noite':       1300,
                 'Alimentação/noite':  150, 
                 'Locomoção/noite':    150},
        'Genebra':
                {'Hotel/noite':       1200,
                 'Alimentação/noite':  150, 
                 'Locomoção/noite':     80},
        'Oslo':
                {'Hotel/noite':       1000,
                 'Alimentação/noite':  250, 
                'Locomoção/noite':     100}
    }
def obterCotacao(noites):
    soma = 0
    lst = []
    menorValor = 0
    maiorValor = 0
    melhorDestino = ''
    for i in cotacao:
        for j in cotacao[i].values():
            soma = soma + j       
        if menorValor == 0 :
            menorValor = soma
            melhorDestino = i
        else:
            if (menorValor >= soma):
                menorValor = soma
                melhorDestino = i
        soma = 0
    print("O melhor destino é ;", melhorDestino,"Por R$: ",menorValor * noites,"Para ", noites,"noites" )
    
obterCotacao(1)

O melhor destino é ; Oslo Por R$:  1350 Para  1 noites

32 - Defina uma função que calcule o z-score de todos os valores de uma lista e encontre quem são os outliers (z-score abaixo de -3 e acima de 3). Use a lista abaixo:

In [9]:
lista8 = [201, 102, -5558, 232, 213, -9249, -247, 1183, 211, 7598, 130, 61, 192, 207, -46, 170, 116, 106, 225, 75, 138, 107, 108, -33, -9, 170, 
          147, 175, 137, -5, -9, 16600, 171, 183, 147, 171, 143, 104, 7, 227, 127, 173, 178, 194, 110, 20, 99, 11, 41, 242, 250, 62, 230, -32, 
          239, 241, 30, -35, 132, 214, 58, 90, -12, -24, 177, 116, 53, -26, 144, 29, 41, 217, 114, 109, -15, 32, 110, 162, 221, -16, 210, 87, 76, 
          3100, 73, 174, 194, 93, -9, 241, 234,  79, -4800, -22, -41, 224, 249, 114, -29, 79]

In [10]:
# z_score = ( Xi - media ) / desvio Padrão
import statistics as sts  
def verificarOutilier(lst):
    z_score = 0
    lstOutlier = []
    for i in range(len(lst)):
        #Calcular o Z-Score de cada item da lista
        z_score = (lst[i] - sts.mean(lst)) / (sts.stdev(lst))    
        #Verifica quem são os Outilier
        if ((z_score < -3) or (z_score > 3)):           
            lstOutlier.append(lst[i])
    return(lstOutlier)
print("Os Outilier são ",verificarOutilier(lista8))

Os Outilier são  [-9249, 7598, 16600]

33 - Defina uma função que recebe uma lista aplica a fórmula abaixo a cada um dos valores e retorna uma lista com o resultado.

In [11]:
# Funçao Xnew = (Xi - min(X)) / max(X) - min(X)
def calcularFuncao(lst):
    x = 0
    lst2 = []
    for i in range(len(lst)):
        x = (lst[i] - min(lst)) / (max(lst) - min(lst))
        lst2.append(x)
    return(lst2)
print(calcularFuncao([1,2,3,5,7,8,9,10,11,12,13]))

[0.0, 0.08333333333333333, 0.16666666666666666, 0.3333333333333333, 0.5, 0.5833333333333334, 0.6666666666666666, 0.75, 0.8333333333333334, 0.9166666666666666, 1.0]

34 - Escreva um código que dê print em todos os quadrados dos valores de 0 a 10.

In [12]:
for i in range(10+1):
    print('{0} ^ {1} = {2}'.format(i, 2,(i ** 2)))

0 ^ 2 = 0
1 ^ 2 = 1
2 ^ 2 = 4
3 ^ 2 = 9
4 ^ 2 = 16
5 ^ 2 = 25
6 ^ 2 = 36
7 ^ 2 = 49
8 ^ 2 = 64
9 ^ 2 = 81
10 ^ 2 = 100

35 - Escreva um código que encontre a soma de todos os valores pares de 0 a 10.

In [13]:
i = 1
soma = 0
while(i <= 10):
    if (i % 2 == 0):
        soma = soma + i
    i += 1
print(soma)

30

37 - Construa uma função que receba 3 valores (a,b,c) e retorne uma lista com todos os valores entre 'a' e 'b' que são múltiplos de 'c'. Utilize os valores abaixo (10,500,23).

In [14]:
a = 10
b = 500
c = 23
def multiplos(a,b,c):
    lst = []
    mult = a
    while a < b :
        if a % c == 0:            
            lst.append(a)
        a += 1
    return(lst)
multiplos(a,b,c)

[23,
 46,
 69,
 92,
 115,
 138,
 161,
 184,
 207,
 230,
 253,
 276,
 299,
 322,
 345,
 368,
 391,
 414,
 437,
 460,
 483]

#### 38 -Escreva um código para ter o seguinte output:

In [15]:
i = 1
j = 99
while i < 100:
    print(i, " ---- ", j )
    i += 1
    j -= 1

1  ----  99
2  ----  98
3  ----  97
4  ----  96
5  ----  95
6  ----  94
7  ----  93
8  ----  92
9  ----  91
10  ----  90
11  ----  89
12  ----  88
13  ----  87
14  ----  86
15  ----  85
16  ----  84
17  ----  83
18  ----  82
19  ----  81
20  ----  80
21  ----  79
22  ----  78
23  ----  77
24  ----  76
25  ----  75
26  ----  74
27  ----  73
28  ----  72
29  ----  71
30  ----  70
31  ----  69
32  ----  68
33  ----  67
34  ----  66
35  ----  65
36  ----  64
37  ----  63
38  ----  62
39  ----  61
40  ----  60
41  ----  59
42  ----  58
43  ----  57
44  ----  56
45  ----  55
46  ----  54
47  ----  53
48  ----  52
49  ----  51
50  ----  50
51  ----  49
52  ----  48
53  ----  47
54  ----  46
55  ----  45
56  ----  44
57  ----  43
58  ----  42
59  ----  41
60  ----  40
61  ----  39
62  ----  38
63  ----  37
64  ----  36
65  ----  35
66  ----  34
67  ----  33
68  ----  32
69  ----  31
70  ----  30
71  ----  29
72  ----  28
73  ----  27
74  ----  26
75  ----  25
76  ----  24
77  ----  23
78  ----  22
79  ----  21
80  ----  20
81  ----  19
82  ----  18
83  ----  17
84  ----  16
85  ----  15
86  ----  14
87  ----  13
88  ----  12
89  ----  11
90  ----  10
91  ----  9
92  ----  8
93  ----  7
94  ----  6
95  ----  5
96  ----  4
97  ----  3
98  ----  2
99  ----  1

#### 39 - Construa uma função que receba um input e printe um padrão conforme exemplo.

In [16]:
n = int(input(''))
a = '+'
i = 1
while( i <= n):
    if i==1:        
        print('+')
    else:
        a = a + '+'
        print(a)    
    i += 1

4
+
++
+++
++++

40 - Itere sobre a lista abaixo e crie uma nova lista com todos os nomes em letras maisculuas e com underline ao invés de espaços. Dica: utilize compreensão de listas.
lista_nomes = ['Geralt de Rívia','Yennefer de Vengerberd','Triss Marigold','Emhyr var Emreis','Jaskier o bardo']

In [17]:
lista_nomes = ['Geralt de Rívia','Yennefer de Vengerberd','Triss Marigold','Emhyr var Emreis','Jaskier o bardo']
lst = [x.upper().replace(" ","_") for x in lista_nomes]
print(lst)

['GERALT_DE_RÍVIA', 'YENNEFER_DE_VENGERBERD', 'TRISS_MARIGOLD', 'EMHYR_VAR_EMREIS', 'JASKIER_O_BARDO']

42 - Construa usando um programa que represente a seguinte árvore abaixo:
Quando x = 'bacon', y = [1,2,3,4,5,6,7,8,9,10,'a','b','c','d','e','f','g','h'] e z = 15. Qual valor o programa deverá printar?

Quando x = 'bacon', y = [1,2,3,4], e z = 20. Qual valor o programa deverá printar?

Quando x='couxeiro', y = [[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5]] e z = 21. Qual valor o programa deverá printar?

In [21]:
x = 'bacon'
y = [1,2,3,4,5,6,7,8,9,10,'a','b','c','d','e','f','g','h']
z = 15 
#Qual valor o programa deverá printar? == RESULTADO 1

X = 'bacon'
y = [1,2,3,4]
z = 21 
#Qual valor o programa deverá printar? RESULTADO 2

x ='couxeiro'
y = [[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5]] 
z = 21
# Qual valor o programa deverá printar? RESULTADO 2

In [22]:
x = [x for x in x]
if(x[0]=="b"):
    if(len(y)>=15):
        print("Resultado 1")
    else:
        if(z % 2 == 0):
            print("Resultado 1")
        else:
            print("Resultado 2")
else:
    if(x[1]=="a"):
        print("Resultado 1")        
    else:
        print("Resultado 2")

Resultado 2

43 - Use a função zip para juntar as duas listas abaixo em uma tupla.

In [ ]:
nomes = ['nasser','joao','mateus'] 
salarios = [1000, 1500, 5000]
a = list(zip(nomes, salarios))
a

44 - Considera as duas listas abaixo, a primeira demonstra o valor real de venda de uma casa e a segunda demonstra o valor recomendado por um modelo de regressão. Gere uma terceira lista com o resíduo de cada ponto. O resíduo é o resultado da subtração entre o valor real e o valor predito para determinado ponto.

In [ ]:
real = [150358,368525,532152,144789]
predito = [162122,365255,533200,185789]

def calcularResiduo(lst1, lst2):
    res = []
    for x,y in enumerate(lst1): 
         res.append(y - lst2[x])
    return res
residuo = calcularResiduo(real, predito)
print(residuo)

#### 45 - Utilize a função 'filter' do python para filtrar somente os valores positivos do resultado da questão 44.

In [ ]:
a = list(filter(lambda x: x > 0, residuo))

46 - Ainda usando o resultado da questão 44 calcule, sem utilizar bibliotecas, o RMSE do valor predito. Referência: https://tinyurl.com/yd9ljcmj

In [27]:
real = [150358,368525,532152,144789]
predito = [162122,365255,533200,185789]

from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(real, predito))
rms

21396.161454803056